<h1>404 not found route</h1>
<style>
  body {
    background-color: #181a1b;
  }
  h1 {
    text-align: center;
    color: #ffe5b4;
    margin-top: 100px;
    animation: rainbow 15s linear;
    animation-iteration-count: infinite;
  }
  @keyframes rainbow {
    100%,
    0% {
      color: #008080;
    }
    8% {
      color: #ffe5b4;
    }
    16% {
      color: #008080;
    }
    25% {
      color: #ffe5b4;
    }
    33% {
      color: #008080;
    }
    41% {
      color: #ffe5b4;
    }
    50% {
      color: #008080;
    }
    58% {
      color: #ffe5b4;
    }
    66% {
      color: #008080;
    }
    75% {
      color: #ffe5b4;
    }
    83% {
      color: #008080;
    }
    91% {
      color: #ffe5b4;
    }
    
  }
 
  /* #008080 #FFE5B4 #181a1b */
</style>
