<h1>404 :( <br> سبد خرید شما خالی است</h1>
<style>
  h1 {
    text-align: center;
    color: #ffe5b4;
    margin-top: 100px;
    animation: rainbow 15s linear;
    animation-iteration-count: infinite;
  }
  @keyframes rainbow {
    100%,
    0% {
      color: #008080;
    }
    8% {
      color: #FA8072;
    }
    16% {
      color: #E6E6FA;
    }
    25% {
      color: #008080;
    }
    33% {
      color: #FA8072;
    }
    41% {
      color: #E6E6FA;
    }
    50% {
      color: #008080;
    }
    58% {
      color: #FA8072;
    }
    66% {
      color: #E6E6FA;
    }
    75% {
      color: #008080;
    }
    83% {
      color: #FA8072;
    }
    91% {
      color: #E6E6FA;
    }
    
  }
</style>
