<div class="forum-header"></div>
<div id="layout">
  <aside id="sidebar">
    <h3>هشتگ‌های داغ</h3>
    <ul>
      <li>#برنامه‌نویسی</li>
      <li>#جاوااسکریپت</li>
      <li>#فناوری</li>
      <!-- ... -->
    </ul>
    <h3>هشتگ‌های داغ</h3>
    <ul>
      <li>#برنامه‌نویسی</li>
      <li>#جاوااسکریپت</li>
      <li>#فناوری</li>
      <!-- ... -->
    </ul>

  </aside>

  <section id="posts-container" data-cursor="<%= nextCursor %>">
    <% posts.forEach(post => { %>
      <%- include("./partials/post", { post }) %>

    <% }) %>
    <div id="loading">در حال بارگذاری...</div>
  </section>
  
  
</div>

<%- include("create-post-modal") %>
