<main>
  <h1><%= topic.name %></h1>
  <section>
      <h2>گذیده های این شاخه:</h2>
      <ul>
          <% tags.forEach(tag => { %>
              <li>
                  <a href="/tag/<%= tag.slug %>"><%= tag.name %></a>
              </li>
          <% }); %>
      </ul>
  </section>
</main>
