:root {
  --bg-body: linear-gradient(to bottom left, #e6e6fa, #c8b8e2);
  --bg-light: #f9f9f9;
  --bg-dark: #1f1f27;
  --font-light: #f5f5f5;
  --font-dark: #1a1a1a;
  --teal-light: #00bfbf;
  --teal-dark: #008080;
  --border-radius: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-family: Vazir;
  height: 100%;
  /* background-color: lavender; */
  background: var(--bg-body);

  /* background: linear-gradient(to bottom right, #f4f0ff, #e6e6fa); */
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 0.8rem);
  margin: 0.4rem 0;
  margin-right: 5rem;
  margin-left: 5rem;
  border: 2px solid teal;
  border-left: none;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  direction: rtl;
  background-color: var(--bg-light);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-y: auto;
  scrollbar-color: salmon transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

main> :not(footer) {
  flex: 1 0 auto;
}

footer {
  outline: 2px solid salmon;
  border: 2px solid lavender;
  margin-right: 5.2rem;
  margin-left: 5.2rem;
  margin-top: 2rem;
  height: 5rem;
  border-bottom: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  direction: rtl;
  flex-shrink: 0;
}

.top-border-frame {
  position: fixed;
  right: 0.5rem;
  top: 0.4rem;
  border-top: 2px solid salmon;
  border-right: 2px solid salmon;
  border-top-right-radius: var(--border-radius);
  width: 2rem;
  height: 13%;
}

.bottom-border-frame {
  position: fixed;
  right: 0.5rem;
  bottom: 0.4rem;
  border-bottom: 2px solid salmon;
  border-right: 2px solid salmon;
  border-bottom-right-radius: var(--border-radius);
  width: 2rem;
  height: 13%;
}

.top-border-frame-radius {
  position: fixed;
  right: -0.4rem;
  top: 13%;
  border-bottom: 2px solid salmon;
  border-left: 2px solid salmon;
  border-bottom-left-radius: var(--border-radius);
  width: 1rem;
  height: 2rem;
}

.bottom-border-frame-radius {
  position: fixed;
  right: -0.4rem;
  bottom: 13%;
  border-top: 2px solid salmon;
  border-left: 2px solid salmon;
  border-top-left-radius: var(--border-radius);
  width: 1rem;
  height: 2rem;
}

.right-nav {
  position: fixed;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 4rem;
  height: 50vh;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.right-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: var(--border-radius);
  background-color: transparent;
  transition: box-shadow 0.2s ease;
}

.right-nav a:hover,
.right-nav a.active {
  background-color: teal;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.left-nav {
  position: fixed;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 0.4rem;
  width: 4rem;
  background-color: var(--bg-light);
  border-left: 2px solid teal;
  border-bottom: 2px solid teal;
  border-top: 2px solid teal;
  color: var(--font-dark);
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: .2rem;
  overflow-y: auto;
  gap: 0.1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.left-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: var(--border-radius);
  border: transparent;
  box-shadow: transparent;
  transition: box-shadow .3s ease;
}

.left-nav a:hover,
.left-nav a.active {
  border: 1px solid teal;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.left-nav a:first-child:hover,
.left-nav a.active:first-child {
  background-color: teal;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.left-nav hr {
  width: 90%;
  margin: 0;
  background-color: #00000019;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  margin: 5px;
  background-color: none;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid salmon;
  transition: 0.3s ease;
  text-decoration: none;
  color: var(--teal-dark);
}

.card h2,
.card p {
  margin: 0;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.h3Text {
  margin: 2%;
  color: var(--font-dark);
}