* {
  box-sizing: border-box;
}

html,
body {
  font-family: Vazir;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* scrollbar-color: teal lavender; */
  background-color: lavender;
  /* background-color: #2A2A2A; */

}

main {
  display: flow-root;
  margin: 0.5rem 0;
  margin-right: 5.2rem;
  margin-left: 5.2rem;
  /* border: 2px solid lavender; */
  height: calc(100vh - 1rem);
  outline: 2px solid salmon;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #ffffff;
  direction: rtl;
  overflow-y: scroll;
  scrollbar-color: teal transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

footer {
  outline: 2px solid salmon;
  /* border: 2px solid lavender; */
  margin-right: 5.2rem;
  margin-left: 5.2rem;
  height: 5rem;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  direction: rtl;
}

.right-nav {
  position: fixed;
  top: 5rem;
  bottom: 5rem;
  right: 0.5rem;
  width: 4rem;
  background-color: teal;
  border: 2px solid lavender;
  outline: 2px solid teal;
  color: lavender;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  z-index: 999;
}

.nav-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 30px;
  height: 30px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}
.nav-item a {
  text-decoration: none;
  color: lavender;
  font-size: 1.2rem;
}
.nav-item a:hover {
  color: white;
}

.submenu {
  position: absolute;
  top: 0;
  right: 190%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1000;
}

.submenu a {
  width: 40px;
  height: 40px;
  background-color: teal;
  border: 2px solid lavender;
  outline: 2px solid teal;
  border-radius: 6px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #0077cc;
  color: white;
}

.nav-wrapper:hover .submenu {
  opacity: 1;
  pointer-events: auto;
}

.submenu-bridge {
  position: absolute;
  top: 0;
  right: calc(100% + 10px);
  /* بین nav-item و submenu */
  width: 50px;
  /* باید فاصله‌ی بینشون رو بپوشونه */
  height: 100%;
  z-index: 998;
}

.nav-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 30px;
  /* بین nav-item و submenu */
  width: 20px;
  height: 100%;
  background: transparent;
  z-index: 999;
}

.left-nav {
  position: fixed;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 4rem;
  background-color: #ffffff;
  border-left: 2px solid teal;
  border-bottom: 2px solid teal;
  outline: 2px solid salmon;
  color: lavender;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  z-index: 999;
}

.nav-wrapper-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item-left {
  width: 30px;
  height: 30px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-item-left:hover {
  background-color: #0077cc;
  color: white;
}

.submenu-left {
  position: absolute;
  top: 0;
  left: 190%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1000;
}

.submenu-left a {
  width: 40px;
  height: 40px;
  background-color: teal;
  border: 2px solid lavender;
  outline: 2px solid teal;
  border-radius: 6px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.submenu-left a:hover {
  background-color: #0077cc;
  color: white;
}

.nav-wrapper-left:hover .submenu-left {
  opacity: 1;
  pointer-events: auto;
}

.grid {
  display: flex;
  justify-content: space-between;
  /* gap: 15px; */
  /* margin-top: 20px; */
}

.card {
  flex: 1;
  /* background-color: var(--nav-background-color); */
  margin: 5px;
  background-color: none;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid salmon;
  transition: 0.3s ease;
  text-decoration: none;
  color: teal;
}

.card h2,
.card p {
  margin: 0;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.h3Text {
  margin: 2%;
  color: #333333;
}
