<h2>افزودن دسته‌بندی (Category)</h2>
<form action="/me/content/category" method="POST">
  <input name="name" placeholder="نام" required />
  <input name="slug" placeholder="نامک (slug)" required />
  <textarea name="description" placeholder="توضیحات"></textarea>
  <button type="submit">ثبت</button>
</form>

<h2>افزودن موضوع (Topic)</h2>
<form action="/me/content/topic" method="POST">
  <input name="name" placeholder="نام" required />
  <input name="slug" placeholder="نامک (slug)" required />
  <textarea name="description" placeholder="توضیحات"></textarea>
  <br>
  <label>انتخاب دسته‌بندی‌ها:</label>

  <% categories.forEach(category => { %>
    <span> | </span>

    <label dir="rtl">
      <input type="checkbox" name="categoryIds" value="<%= category._id %>" />
      <%= category.name %>
    </label>
  <% }) %>
  <button type="submit">ثبت</button>
</form>

<h2>افزودن تگ (Tag)</h2>
<form action="/me/content/tag" method="POST">
  <input name="name" placeholder="نام" required />
  <input name="slug" placeholder="نامک (slug)" required />
  <br>
  <label>انتخاب موضوع‌ها:</label>

  <% topics.forEach(topic => { %>
    <span> | </span>
    <label dir="rtl">
      <input type="checkbox" name="topicIds" value="<%= topic._id %>" />
      <%= topic.name %>
    </label>
  <% }) %>
  <button type="submit">ثبت</button>
</form>
