<div class="container">
    <h1>ایجاد مقاله جدید</h1>
    <form action="/me/blog/new" method="POST">
        <div class="form-group">
            <label for="title">عنوان مقاله</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="slug">مسیر عنوان</label>
            <input type="text" id="slug" name="slug" required>
        </div>

        <div class="form-group">
            <label for="description">توضیحات کوتاه</label> <br>
            <textarea id="description" name="description" required></textarea>
        </div>

        <div class="form-group">
            <label for="content">متن اصلی</label>
            <textarea id="content" name="content" rows="5" required></textarea>
        </div>

        <div class="form-group">
            <label>انتخاب دسته‌بندی (Category):</label>
            <input type="text" id="categoryInput" placeholder="نام دسته‌بندی را وارد کنید...">
            <div id="categorySuggestions" class="suggestions"></div>
            <input type="hidden" name="category" id="selectedCategory">
        </div>
        <div class="form-group">
            <label>انتخاب شاخه (Topic):</label>
            <input type="text" id="topicInput" placeholder="نام موضوع را وارد کنید..." disabled>
            <div id="topicSuggestions" class="suggestions"></div>
            <input type="hidden" name="topic" id="selectedTopic">
        </div>
        <div class="form-group">
            <label>انتخاب گزیده ها (Tags):</label>
            <input type="text" id="tagInput" placeholder="نام تگ را وارد کنید..." disabled>
            <div id="tagSuggestions" class="suggestions"></div>
            <input type="hidden" name="tags" id="selectedTags">
        </div>
        <ul id="selectedTagsList"></ul>

        <button type="submit" class="btn-submit">ارسال</button>
    </form>
</div>

   