<header class="header">
    <h1 class="logo">لوگو</h1>
    <nav class="nav">
        <ul>
            <li><a href="#">داشبورد</a></li>
            <li><a href="/nest/personal-info/">پروفایل</a></li>
            <li><a href="#">خروج</a></li>
        </ul>
    </nav>
</header>