<% chats.forEach((chat) => { %>
    <% const otherUser = chat.members.find((m) => m._id.toString() !== currentUserId.toString()); %>
    <div class="chat-user" data-username="<%= otherUser.username %>">
      <img src="<%= otherUser.avatar || '/default.png' %>" alt="" />
      <div>
        <p><%= otherUser.fullname || otherUser.username %></p>
        <small><%= chat.lastMessage?.content || "پیامی نیست" %></small>
      </div>
    </div>
  <% }) %>