<aside class="sidebar">
    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a href="/" class="sidebar-link">
                <span class="sidebar-text">وبسایت</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/me" class="sidebar-link">
                <span class="sidebar-text">خانه</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/me/profile" class="sidebar-link">
                <span class="sidebar-text">پروفایل</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/me/blog" class="sidebar-link">
                <span class="sidebar-text">بلاگ</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/me/content" class="sidebar-link">
                <span class="sidebar-text">مدیریت محتوا </span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/auth/logout" class="sidebar-link">
                <span class="sidebar-text">خروج از حساب </span>
            </a>
        </li>
    </ul>
</aside>