<aside class="sidebar">
    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a href="/user" class="sidebar-link">
                <img src="/images/home-icon.png" alt="خانه" class="sidebar-icon">
                <span class="sidebar-text">خانه</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/user/profile" class="sidebar-link">
                <img src="/images/profile-icon.png" alt="پروفایل" class="sidebar-icon">
                <span class="sidebar-text">پروفایل</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/user/blog" class="sidebar-link">
                <img src="/images/blog-icon.png" alt="بلاگ" class="sidebar-icon">
                <span class="sidebar-text">بلاگ</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/user/account" class="sidebar-link">
                <img src="/images/account-icon.png" alt="حساب کاربری" class="sidebar-icon">
                <span class="sidebar-text">حساب کاربری</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/auth/logout" class="sidebar-link">
                <img src="/images/logout-icon.png" alt="خروج از حساب" class="sidebar-icon">
                <span class="sidebar-text">خروج از حساب </span>
            </a>
        </li>
    </ul>
</aside>