<nav class="left-nav">
  <!-- <div class="nav-wrapper-left">
    <div class="nav-item-left">
      <% if(typeof user !=='undefined' ){ %>
        <a href="/@<%= user.username %>">👤</a>
        <div class="submenu-bridge-left"></div>
        <div class="submenu-left">
          <a href="/me/profile" title="تنظیمات">🔧</a>
          <a href="/me/users" title="تنظیمات">🔧</a>
          <a href="/auth/logout" title="خروج">🚪</a>
        </div>
        <% } else{ %>
          <a href="/me"> ورود</a>
          <%} %>
    </div>
  </div>

  <div class="nav-wrapper-left">
    <div class="nav-item-left">
      <a href="/blog">بلاگ</a>
    </div>
    <div class="submenu-bridge-left"></div>
    <div class="submenu-left">
      <a href="/me/blog/new" title="جدید">➕</a>
    </div>
  </div>
  <div class="nav-wrapper-left">
    <div class="nav-item-left">
      <a href="/me/content">محتوا</a>
    </div>
    <div class="submenu-bridge-left"></div>
    <div class="submenu-left">
      <a href="/me/content/create" title="جدید">➕</a>
    </div>
  </div>
  <div class="nav-wrapper-left">
    <div class="nav-item-left">
      <a href="/">خانه</a>
    </div>
    <div class="submenu-bridge-left"></div>
    <div class="submenu-left">
       <a href="/me/blog/new" title="جدید">➕</a> 
    </div>
  </div> -->
  
</nav >