<nav class="right-nav">
  <div class="nav-wrapper">
    <div class="nav-item">
      <% if(typeof user !=='undefined' ){ %>
        <a href="/@<%= user.username %>" title="<%= user.username %>">👤</a>
        <div class="submenu-bridge"></div>
        <div class="submenu">
          <a href="/me/users" title="کاربران">👩🏼‍🤝‍🧑🏼</a>
          <a href="/me/profile" title="تنظیمات">🔧</a>
          <a href="/me/chats" title="گفتگو">✉</a>
          <a href="/auth/logout" title="خروج">🚪</a>
        </div>
        <% } else{ %>
          <a href="/me"> ورود</a>
          <%} %>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="nav-item">
      <a href="/blog">بلاگ</a>
    </div>
    <div class="submenu-bridge"></div>
    <div class="submenu">
      <a href="/me/blog/new" title="جدید">➕</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="nav-item">
      <a href="/chat">چت</a>
    </div>
    <div class="submenu-bridge"></div>

  </div>
  <div class="nav-wrapper">
    <div class="nav-item">
      <a href="/me/content">محتوا</a>
    </div>
    <div class="submenu-bridge"></div>
    <div class="submenu">
      <a href="/me/content/create" title="جدید">➕</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="nav-item">
      <a href="/">خانه</a>
    </div>
    <div class="submenu-bridge"></div>
    <div class="submenu">
      <!-- <a href="/me/blog/new" title="جدید">➕</a> -->
    </div>
  </div>
</nav>