<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/dynamic/main.css">
    <% if (typeof cssFile !== 'undefined') { %>
        <link rel="stylesheet" href="<%= cssFile %>">
    <% } %>
</head>
<body dir="rtl">
    <%- body %>
</body>
</html>
