<aside id="sidebar">
    <h3>هشتگ‌های داغ</h3>
    <ul>
      <li>#برنامه‌نویسی</li>
      <li>#جاوااسکریپت</li>
      <li>#فناوری</li>
    </ul>
    <h3>هشتگ‌های داغ</h3>
    <ul>
      <li>#برنامه‌نویسی</li>
      <li>#جاوااسکریپت</li>
      <li>#فناوری</li>
    </ul>
  </aside>