<div class="blog-header"></div>
<div id="blog-layout">
  <!--<aside id="blog-sidebar">
     <h3>هشتگ‌های داغ</h3>
    <ul>
      <li>#برنامه‌نویسی</li>
      <li>#جاوااسکریپت</li>
      <li>#فناوری</li>
    </ul>
    <h3>هشتگ‌های داغ</h3>
    <ul>
      <li>#برنامه‌نویسی</li>
      <li>#جاوااسکریپت</li>
      <li>#فناوری</li>
    </ul> 

  </aside>-->
  <% if (posts.length < 1) { %>
    <p>هنوز پستی ساخته نشده</p>
    <% } %>
  <section class="blog-container">
  <div class="blog-grid">

    <% posts.forEach(post => { %>
      <%- include("./partials/card", { post }) %>
    <% }) %>
</div>

    <div id="loading">در حال بارگذاری...</div>
  </section>
  
  
</div>
